@import "shoelace-css/source/css/shoelace.css";

body {
  background: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding: 2rem;
  & .container {
    max-width: 50%;
    margin: 0 auto;
    height: auto;
    width: 800px;
    text-align: center;
  }
}
